[2016-03-21 14:33] w8r opened #1 "Images"
![screenshot 2016-03-21 15 32 09](https://cloud.githubusercontent.com/assets/26884/13921848/32dc1440-ef7a-11e5-9bfd-46810e7552be.png)

[2016-03-21 14:33] w8r commented on #1
![screenshot 2016-03-21 15 31 48](https://cloud.githubusercontent.com/assets/26884/13921863/4470b97c-ef7a-11e5-8ea2-46161fffaedd.png)

[2016-03-21 14:33] #1 closed

[2016-06-16 13:55] elijahiuu opened #2 "how to adapt this to imageOverlay ?"
Thanks for creating this plugin. Could you advise on how to adapt it to imageOverlay? It looks like all the calculations that are applied to <svg> 'transform' style would handle <image> as well as <path> elements.

[2016-07-06 08:58] w8r commented on #2
@elijahiuu, well, they actually can be applied to css matrix as well. You might want to look at @OriginalSin's https://github.com/OriginalSin/Leaflet.DivTransform

[2016-07-06 09:23] OriginalSin commented on #2
It is a pity that the video http://player.vimeo.com/video/92251790 was removed.
Sorry I don't have any other videos for example

[2016-08-04 03:26] SirenHound opened #3 "Seeking clarification re Matrix.js:170"
I am curious as to what purpose the 'val' variable serves on line 170 of Matrix.js.

Surely this is undefined here? What am I missing?

[2016-08-15 15:29] axelerate opened #4 "Uncaught Error: Invalid LatLng object: (NaN, NaN)"
Using the latest version of Leaflet and Leaflet.Path.Transform, zoom is always equals to infinity and matrix is made of NaN values. transformGeometries() does not pass in scale or angle data.
EDIT: This is caused if user does not specify maxzoom / min zoom.
If these values aren't manually set, I suggest assigning maxzoom to 18 and minzoom to 0.

[2016-08-30 11:20] w8r commented on #3
https://github.com/w8r/Leaflet.Path.Transform/blob/leaflet-1.0/src/Matrix.js#L187
it is a temporary variable

[2016-08-30 11:20] #3 closed

[2016-08-30 11:21] #2 closed

[2016-08-30 11:22] w8r commented on #4
Hi, I have somehow missed this issue. Yes, I should definitely create a limitation of `[0, 22]` or something similar

[2016-09-28 12:02] #4 closed

[2016-11-03 23:11] augustobg opened #5 "GeoJson"
Does this is compatible with GeoJSON polygons?

[2016-11-04 07:25] w8r commented on #5
MultiPolygons you mean?

[2016-11-04 16:55] augustobg commented on #5
No, polygon but with a GEOJson format like:
{ "type": "Feature",
"properties": {
"name": name,
"popupContent": name,
},
         "geometry": {
           "type": "Polygon",
           "coordinates": [
             [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0],
               [100.0, 1.0], [100.0, 0.0] ]
             ]
         }

[2016-11-05 10:34] w8r commented on #5
You mean a group of features? I don't understand the question. The plugin is a tool to transform features. GeoJSON like that one will result in a polygon, which you then can transform, yes

[2016-11-14 20:02] rajkishan16 opened #6 "Sample demo for using Leaflet.Path.Transform with Mapbox JS"
Hey w8r,

I'm using Mapbox JS with Leaflet. I've been trying to find a way to rotate a polygon by dragging a corner or something similar, and I found that your Leaflet.Path.Transform does exactly what I need, like [this example](http://w8r.github.io/Leaflet.Path.Transform/example/) (mainly the rotating and dragging part). Thanks a lot for your work on this!!

I looked at your example, and tried to

[2016-11-14 22:02] w8r commented on #6
What you probably need here is to include my other adapter - [Leaflet.Draw.Drag](https://github.com/w8r/leaflet.draw.drag)
But this will only add dragging,
as for rotation, I didn't make an integration with leaflet.draw yet. I will think about how I can do it

[2016-11-14 22:10] w8r commented on #6
See, I added dragging here http://plnkr.co/edit/odoUrt6GcTFGcjlRl8oQ?p=preview

[2016-11-14 22:12] #5 closed

[2016-11-14 22:18] rajkishan16 commented on #6
Awesome!!! Thank you so much for your quick response.

This is exactly what I needed. I didn't know how to find this:
[code]
I tried to find this from the example, but I couldn't. But now thanks to you, I do.

Thanks again for your work!

Rajkishan

[2016-11-14 22:22] #6 closed

[2016-11-17 16:08] AndrejSperling opened #7 "Is it possible to rotate programmatically?"
First, thank you for the library!
I would like to rotate a polygon without the transform handler.

I'm trying to use the html range input.
At the moment i'm using the following code to rotate
[code]
But it doesn't rotate in 45°, it rotate randomly, maybe i'm doing something wrong.
Is it possible? If yes, which methods to i have to use.

[2016-11-17 16:11] w8r commented on #7
Angle is supposed to be in radians, not degrees

[2016-11-17 16:48] #7 closed

[2016-12-09 21:41] AndrejSperling opened #8 "Rotate multiple polygons at once?"
Is it possible to rotate and move multiple polygons at once?

For example if i'm doing the following
[code]

Could i move or rotate the polygons inside a group (```<g>```) at once, for example the first group?

[2017-01-04 09:32] w8r commented on #8
I'm afraid not, the tool works with paths individually, but you can combine them into a multipolygon, that will work. If you are concerned about the styling, create a copy, transform it and then copy the geometries back to your objects. It is only natural for edited objects to have single style

[2017-01-04 09:33] #8 closed

[2017-02-04 14:23] carpiediem opened #9 "TypeScript Declaration File"
Any chance you've ever made a TypeScript declaration file for this plugin?  If so, t would be very [useful to share](https://github.com/DefinitelyTyped/DefinitelyTyped).

[2017-02-05 12:21] w8r commented on #9
@carpiediem can you help me with this?
[code]

[2017-02-05 12:22] w8r commented on #9
I would really appreciate if you could check it for me

[2017-02-10 11:15] carpiediem commented on #9
I'm trying this out now.  I'll  let you know if  I can get it working.

[2017-02-10 11:57] carpiediem commented on #9
The error that I've had from the start is this (I still can't seem to get past it):

I created a new directory in `PROJECT/node_modules/@types/leaflet-path-transform` and added your code as a file named `index.d.js`.  I also copied files named `package.json` and `types-metadata.json` from other type declarations, then modified them for this package.  In my page controller, I added `import 'leaflet

[2017-02-10 13:37] w8r commented on #9
Yes, `draggable` is the option added by a different module of mine - `Leaflet.Path.Drag`. So that one would need it too

[2017-02-11 11:07] carpiediem commented on #9
A step in the right direction:  I was able to overwrite the existing leaflet type declaration and get the page to load.  Ployline dragging works, but I can't resize or rotate yet, so  I'm guessing that I'm loading your code incorrectly.  I'll keep checking in my spare time.

In the page controller:
`
import 'leaflet';
import 'leaflet-path-transform';
declare var L: any;
`

[2017-02-14 08:43] carpiediem commented on #9
I'm still having trouble with  the typings (getting the same `'draggable' does not exist in type 'PolylineOptions'` error.  At this point, I'm looking through existing type declarations for other leaflet plugins to find one that also modifies the  available options for a Path  or Marker object.  Since DefinatelyTyped doesn't have a easy to read list (too many subdirectories for GitHub to display),

[2017-03-13 12:18] data-ux opened #10 "Support non-uniform scaling"
It would be great if there was an option to allow non-uniform scaling. In this mode the scale handles would freely follow the mouse pointer when dragged and the feature would stretch accordingly.

[2017-03-13 12:32] w8r commented on #10
it is supported internally, https://github.com/w8r/Leaflet.Path.Transform/blob/master/src/Path.Transform.js#L620
I just never thought of a usecase for that. But it definitely could be a setting.

[2017-03-14 08:14] data-ux commented on #10
@w8r Thanks for the quick reaction. What I was actually looking for was a non-uniform scaling option that would stretch the shape in a way that keeps the bounding rectangle as as rectangle (keep right-angle corners).

Apart from my use case, I think this kind of non-uniform scaling would be more useful that the type of stretching that is currently implemented.

[2017-03-14 09:01] w8r commented on #10
You mean skewing? That's a bit different. Also possible to implement, but I don't see a point in it. This type of stretching introduces a lot of distortion which most of the times is easier to avoid with point-by-point editing.

[2017-03-14 09:36] data-ux commented on #10
I don't mean skewing. I think non-uniform scaling should happen in the coordinate system of the bounding rectangle. That is, if the user first rotates and then scales, the bounding rectangle should stay rectangular. In the current implementation, the bounding rectangle get stretched out of rectangular shape.

![example](https://cloud.githubusercontent.com/assets/4941110/23894331/5a1ce468-08aa-11e7

[2017-03-14 09:41] w8r commented on #10
Ok, I didn't test it properly

[2017-03-14 09:53] w8r commented on #10
I suppose I forgot to transform the origin point

[2017-03-15 16:21] axelerate opened #11 "_transformGeometries overrides matrix with null values"
Whenever I rotate a shape, `_transformGeometries` executes `this._path._transform(null);` before `this._transformPoints(this._path);`, this yields exception `Uncaught Error: Invalid LatLng object: (NaN, NaN)` since the non existent matrix values recalculates the lat/lng values to NULL.

[2017-03-15 16:32] w8r commented on #11
Please provide a code example or jsfiddle, I don't know how to reproduce it

[2017-03-20 18:46] axelerate commented on #11
The issue I encountered results from not setting up a max cap value for zoom level on the leaflet map. Inside of `_getProjectedMatrix`, the map.getMaxZoom() in line `var zoom   = map.getMaxZoom() || this.options.maxZoom;` resolves to infinity on the latest version of Leaflet.js whenever maxZoom isn't defined, so the line itself will always be true.

[2017-04-04 06:21] Damorck opened #12 "Working examples for mobile?"
Hi there. Thanks for this good project. I have trouble making it work on mobile devices. Are there some working examples if it's possible at all?

[2017-04-04 09:49] w8r commented on #12
It is supposed to work on mobile, as long as the handlers are accessible. I don't have a device to check.
What doesn't work? Also, do you have Andriod or iOS device?

[2017-04-04 20:35] Damorck commented on #12
Hi. Thanks for reply. It´´s Android.

[2017-04-14 08:24] Damorck commented on #12
What's the differences between the 2 js-files src? I haven't tried the "...-src.js"

[2017-04-14 09:30] w8r commented on #12
this was caused by the leaflet itself as far as I can remember. There was a PR on leaflet-path-drag explaining the problem with touch devices

[2017-04-14 09:31] w8r commented on #12
`-src.js` file is not compressed

[2017-04-15 08:49] Damorck commented on #12
Thanks for pointing me in the right direction :-)

[2017-04-22 21:00] Reaktive opened #13 "Bouding box persistence after shape modification"
Hi there,
when using the Leaflet.Editable plugin, after doing modifications to the shape points the bounding box stays the same as when the shape was initialized. Plus, sometimes when editing the shape the bounding box gets distorted by the points modified.

I've tried disabling and enabling the transform settings but that wouldn't work.

Is there anything we can do to avoid this?

![error](https:

[2017-04-24 08:50] Damorck commented on #13
I have the same issue, and tried solving this, without luck. Is this maybe caused by the draw plugin?

[2017-04-24 10:45] Reaktive commented on #13
I'm using the Leaflet.Editable plugin, not Leaflet.Draw so I'm pretty sure it's something about the Transform plugin.

[2017-05-02 23:55] talford commented on #10
@w8r Is there a simple fix for this? (Simply transforming the origin point after rotation or something?)

[2017-05-06 21:35] Damorck commented on #12
Works fine on Firefox browser for mobile. Chrome seems to be the issue with its pointer events and not Android itself.

[2017-06-27 20:37] axelerate opened #16 "Rectangle not supported"
Leaflet offers the Rectangle vector shape right out the box, but whenever I attempt to enable transformation and rotate it, the rectangle reverts back to an upright state.
Are there any plans to support rotation of rectangles?

[2017-06-28 07:37] w8r commented on #16
That's strange, I will look into it

[2017-06-29 20:30] w8r commented on #16
Fixed

[2017-06-29 20:30] #16 closed

[2017-06-29 20:50] axelerate commented on #16
Thanks.
Do note that after this change has been introduced, the following errors pop up when dragging a rectangle, possible all paths:

Uncaught TypeError: L.DomEvent.fakeStop is not a function
L.Path.Transform-src.js:258 Uncaught TypeError: L.DomEvent.skipped is not a function

[2017-06-29 21:57] w8r commented on #16
Please update leaflet to 1.1.0

[2017-07-26 06:28] zindelluib opened #17 "Leaflet 0.7 Version"
Do you have a version of this compatible to Leaflet 0.7 versions?

[2017-07-26 12:51] w8r commented on #17
https://github.com/w8r/Leaflet.Path.Transform/tree/leaflet-0.7

[2017-07-26 12:51] #17 closed

[2017-07-27 03:42] zindelluib opened #18 "Error: Invalid LatLng object: (NaN, NaN)"
When I want to resize rectangles , they dont resize, and this message is appears:
Error: Invalid LatLng object: (NaN, NaN)
I use leaflet 0.7.3 and Leaflet.Path.Transform for Leaflet 0.7.3

[2017-08-11 21:25] rajkishan16 opened #19 "Dragging doesn't work properly once you remove a polygon from the map and re-add it"
Hi,

I'm using Leaflet.Path.Transform with Mapbox JS, and it has been really useful to me for doing what I needed to do. Thanks for your work on this.

Now there are scenarios in which I would sometimes have to hide a polygon (and disable the transform and dragging for that polygon), say like when a checkbox is selected. Then, when it is unchecked, I add that polygon to the map again, and re-enabl

[2017-08-23 10:33] viswanathamsantosh opened #20 "Can I use images instead of polygons for this?"
Do you have any example for the same if it is already possible?

[2017-08-23 11:09] w8r commented on #20
You can use the matrix from the control to apply it to the css transform for the image overlay. I don't have an example now, but maybe you can provide an image example for me to create a demo? I want it to be meaningful

[2017-08-23 12:14] viswanathamsantosh commented on #20
I was trying to port this project< https://anyplace.cs.ucy.ac.cy/architect/ > from using google maps to osm using leaflet! I'm working on adding floorplans to the map but their isn't any stable plugin to add an image to osm map with rotate, drag, resize options. Your plugin has all that I need but i couldn't use images for now.

[2017-08-25 11:33] viswanathamsantosh commented on #20
Hey @w8r , Do you find this request meaningful? Can you let me know how can i use an image instead of a polygon?

[2017-08-25 11:46] w8r commented on #20
I find it meaningful, but it will definitely take quite some time to implement the example.
have you chance to take a look at this one?
https://github.com/OriginalSin/Leaflet.DivTransform

[2017-09-12 12:23] astlin opened #21 "Leaflet.Path.Transform with Leaflet (not MapBox) "Cannot read property 'enable' of undefined" exception"
Can't make this plugin work with leaflet >= 1.0. Trying to enable() feature gives me "Uncaught TypeError: Cannot read property 'enable' of undefined" exception, while with MapBox works fine. See http://plnkr.co/edit/f3iyJKFhCRLo7FfDyOQI?p=preview

[2017-09-12 12:46] w8r commented on #21
Wrong version, Leaflet@1.x - Leaflet.Path.Transform@1.x

http://plnkr.co/edit/fgbAkYTl9XpCRtPMGRfy?p=preview

[2017-09-12 12:46] #21 closed

[2017-10-19 14:00] chocho11 opened #22 "Leaflet.Editable adapter"
Hi, your project is fantastic,
when the adapter for Leaflet.Editable will be ready ?
Regards

[2017-10-19 14:10] #20 closed

[2017-10-19 14:11] w8r commented on #22
I could be interesting

[2017-10-22 19:23] andrroy opened #23 "Transforming layerGroup"
Hi! I have a project were I have several small polygons within a large one. I want to group all these polygons together, so that all the small polygons are rotated when you rotate the big polygon. I tried doing it like this:
[code]

But then I get:
[code]

For reference, here is an example of the polygons Im talking about:
![polygon](https://user-images.githubusercontent.com/2963972/31865414-193d3

[2017-10-22 20:31] w8r commented on #23
Hi! Did you try using L.MultiPolygon for that?

Kind regards,
Alexander Milevski

[2017-10-22 20:51] andrroy commented on #23
Thanks for such a quick reply! Am I right to assume that L.MultiPolygon is L.Polygon in leaflet right now? L.MultiPolygon is not defined in the latest version of leaflet, but according to [their documentation](http://leafletjs.com/reference-1.2.0.html#polygon), L.Polygon accepts multiple polygons at once.

I dont think that will work for me, as a need the small polygons in my project to have click

[2017-10-23 11:27] w8r commented on #23
Can you give me your GeoJSON data, please?

[2017-10-23 11:32] andrroy commented on #23
Sure!

[code]

[2017-11-07 12:23] AndreasSchmid1 opened #25 "Live Demo is Down!"

[2017-11-07 12:26] w8r commented on #25
Everything's fine

[2017-11-07 12:26] #25 closed

[2017-11-17 17:08] gagecarto opened #26 "setLatLngs on polygon after scaling does not update dashed resize box"
If I create a transformable polygon like

`var printBoundary = L.polygon([...],{
      transform:true
    }).addTo(map)`

I can then drag its corners and the polygon resizes accordingly

If I then change the polygons lat/lngs using setLatLngs
`
printBoundary.setLatLngs([new lat lngs ])`

The polygon will resize accordingly but the dashed transform box does not update (see below). Could I setLatLng

[2017-11-17 17:44] w8r commented on #26
Well, I'm afraid the plugin has to be notified in order to take in the changes. I will take a look how to do it properly.

[2017-12-15 17:40] jperelli commented on #26
For a similar issue I used
[code]

[2017-12-15 17:53] jperelli opened #27 "Rotation handler dragging also drags map in IE11"
Not sure why this is happening in ie11

![ezgif com-optimize](https://user-images.githubusercontent.com/1418446/34053972-958c5b7e-e1a7-11e7-9993-a085674074d7.gif)
http://plnkr.co/edit/tPCqbYfcVchseL4heWjl?p=preview

[2018-01-10 01:04] joelpanor commented on #10
up

[2018-01-10 01:05] joelpanor commented on #10
@w8r Is there a simple fix for this? I have the same issue

[2018-01-24 17:09] carlosgarciamar opened #28 "Scaling stops working when setting rotation to false"
After setting rotation to false (`polygon.transform.enable({rotation: false, scaling: true});`) I start receiving the following error every time I try to scale the polygon:

leaflet-src.js:72

Uncaught TypeError: Cannot read property '_leaflet_id' of null
    at stamp (leaflet-src.js:72)
    at NewClass.removeLayer (leaflet-src.js:6557)
    at NewClass._onScaleStart (Path.Transform.js:612)
    at

[2018-01-31 13:31] JorisPhilipsen commented on #13
Is there a solution yet?

[2018-01-31 14:41] w8r commented on #13
I will look into that

[2018-03-16 07:06] kodkafali opened #29 "How can we add an image to rectangle ?"
Hi,
I want to add image to rectangle. Is it possible ?

[2018-03-29 00:59] Skriptach opened #30 "Event rotateend returns only 0"
Expected result is a value of rotation.

[2018-04-03 09:38] w8r commented on #29
You can, by extending it, but I can suggest using this one https://github.com/OriginalSin/Leaflet.DivTransform

[2018-04-03 09:38] #29 closed

[2018-04-03 09:39] w8r commented on #26
I should make it public

[2018-04-03 10:00] #26 closed

[2018-04-19 03:50] zhou20091274 opened #31 "problems with drag"
When a separate marker is added, there is an occasional event conflict when you drag or drop the icon

[2018-04-19 09:13] w8r commented on #31
can you please provide a jsfiddle with an example?

[2018-04-19 09:48] zhou20091274 commented on #31
var map = L.map('map', {
            zoom: 6,
            maxZoom: 19,
            center: [0, 0]
        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {
            foo: 'bar'
        }).addTo(map);

        //if this marker is added,there is an occasional event conflict when drag scale icon or rotate icon
        var marker = L.marker([-2, -2]);
        mark

[2018-04-19 09:57] zhou20091274 commented on #31
It is happen sometimes

[2018-04-24 17:15] dt99jay opened #32 "Final rotation value"
Is it possible to tell the amount by which a path has been rotated, even after several transformations?`rotate` and `transform` events return the rotation of that event, but I'm looking for a way to track the final rotation of a path.

[2018-04-25 08:50] w8r commented on #32
You can store it and increment at every atomic step. The information is included in the event

[2018-04-25 08:50] #32 closed

[2018-04-25 10:44] arszp10 opened #33 "current angle"
Is it possible to get the current angle of the object?
**proposal api**
`polygon.transform.angle()`

[2018-04-25 19:47] dt99jay commented on #16
I'm getting the same error at the end of dragging a rectangle with Leaflet 1.3.1:
[code]

[2018-04-26 22:18] dt99jay opened #34 "Resetting the bounding box with transform.reset() seems to fail after the first time"
When changing a feature's geometry, `feature.transform.reset()` seems to correctly update the handles the first time, but not for subsequent geometry changes. Here's a minimal example: https://jsfiddle.net/xtv7c7sc/3/
I'm not sure if this is the same issue as #13.

[2018-05-18 12:19] alexandervlpl opened #35 "missing method to set rotation angle externally"
It would be very useful to have a method like `polygon.transform.set_angle()` so that polygons can be rotated externally, without user interaction.

Thanks for the great plugin! :+1:

[2018-06-22 16:46] cvisto commented on #22
So there is no adapter, isn't it?

[2018-06-23 14:09] cvisto opened #36 "The transform's bounding box (blue border) is breaked when layer is dragged from beyond the boundaries of the map"
Hello.
Thiank you for plugin. It's very useful.

I noticed some strage behaviour. Layer dragging breaks the transform's bounding box (blue border) when layer is dragged from beyond the boundaries of the map

You can test it on plugin's [demo page](http://w8r.name/Leaflet.Path.Transform/example/)

How can this be solved?

Thank tou in advance.

![1529761978006](https://user-images.githubusercontent

[2018-07-01 05:11] ridwanskaterock opened #37 "Can this library controll layer image alseo for rotation ?"
currently i integrate this library for rotate and transform image layer, but only possible to resize or scale, can i implemented for rotation L.imageOverlay ?

[2018-09-05 16:02] glau-isidoro commented on #9
Hey, I would like to try Leaflet.Path.Transform in my Angular project.
How can I use this typescript declaration?

[2018-11-08 18:14] mohammedzamakhan commented on #22
In the leaflet it says that this is supported, I am confused!

[2018-11-09 18:56] mohammedzamakhan opened #38 "Using along with Leaflet PM"
I am currently using Leaflet PM. But I want to use this for scaling and rotating my rectangles. How can I make it work with it?

[2018-11-12 20:59] mohammedzamakhan opened #39 "Rectangle Scaling"
I want to scale rectangle to different height/width ratio, along with keeping it as a rectangle, like this image shows. Currently I do not know a way of doing this
![rectangle scaling](https://user-images.githubusercontent.com/2327532/48374832-9c2f7a80-e68b-11e8-862c-0915e29ad422.gif)

[2018-11-12 21:07] mohammedzamakhan commented on #39
Current behavior
![kapture 2018-11-12 at 15 06 24](https://user-images.githubusercontent.com/2327532/48375154-a3a35380-e68c-11e8-969b-8bad18e39741.gif)

[2018-11-13 16:24] #38 closed

[2018-11-27 17:54] mohammedzamakhan commented on #39
Shows incorrect points for scaling and rotation
<img width="317" alt="screen shot 2018-11-27 at 11 54 18 am" src="https://user-images.githubusercontent.com/2327532/49101202-3fab8e00-f23b-11e8-8f61-9303af029cde.png">

[2018-11-27 18:19] w8r commented on #33
I don't understand, is it to get the current angle _while rotating_? you can subscribe to the `rotate` or `transform` event, the data is there.

[code]

[2018-11-27 18:19] #33 closed

[2018-11-27 18:22] #18 closed

[2018-11-27 18:30] w8r commented on #34
Seems to be working

[2018-11-27 18:30] #34 closed

[2019-01-09 13:45] m1900 commented on #34
Unfortunately, I experience the same problem. However, when I change _getBoundingPolygon in Path.Transform.js to

`  _getBoundingPolygon: function() {
    return new L.Rectangle(
        this._path.getBounds(), this.options.boundsOptions);
  },
`

by leaving out the geometryToLayer call, the bounding box is sized correctly every time reset is called.

Version used: 1.1.2

[2019-01-16 18:52] hammad2506 opened #41 "BUG: transform.reset() doesn't update handlers when fired after an event"
There seems to be a problem with transform,reset() when it is being called from an event handler. It does not update the path handlers.

See here: [https://jsfiddle.net/hammad2506/Lhszk8ur/5/]()

When run, after 3 seconds,  the line gets its coordinates updated and the handlers get updated which is working as expected.

Now scale the line, make it bigger or smaller, the same code as above gets fir

[2019-01-23 11:37] wethk commented on #18
thx, i had found the answer in https://github.com/w8r/Leaflet.Path.Transform/issues/4

[2019-01-29 16:01] Kaplanwtf opened #42 "Control rotation outside leaflet map !"
Hello,

i'm new on Github, and i want to know if we can rotate the polygon with control outside the leaflet map.

On mobile it will be easier.

[2019-01-29 16:30] w8r commented on #42
Yes, here are the methods. Sorry they are not in the docs

https://github.com/w8r/Leaflet.Path.Transform/blob/master/src/Path.Transform.js#L199

[2019-01-29 16:30] #42 closed

[2019-01-29 16:45] Kaplanwtf commented on #42
Can you show an example please ?

[2019-01-29 16:52] w8r commented on #42
1. go to http://w8r.name/Leaflet.Path.Transform/example/
2. let's take the red polygon, for instance, it's available as the global `polygon`
3. let's rotate it by 30 degrees
[code]

[2019-01-30 08:02] Kaplanwtf commented on #42
Ok Thank you for your help.

But every time i got this erreor `polygon.transform.rotate is not a function`

polygon.tanform.enable work because i can rotate manually on the map my polygon.

[2019-02-13 10:07] Kaplanwtf commented on #42
Hello i still have the same problem can someone help me ?

[2019-02-13 11:11] w8r commented on #42
Please check if you have included all the right files of the latest version. You can see that it works on the example, and the `rotate` method is there

[2019-02-15 11:21] alcalin opened #43 "null _handleLine and _rotationMarker not handled properly"
In the [example ](http://w8r.name/Leaflet.Path.Transform/example/) you have provided, if I disable 'rotate' and keep the rest on, I will get some errors in_.nScaleStart and _onScaleEnd

[code]
Seems that the `this._handleLine`  and `this._rotationMarker` are null when rotation is disabled. Can anyone else confirm this ?

[2019-02-26 07:53] jensolsson commented on #37
Also interested in this

[2019-02-28 14:57] dktue commented on #43
I just ran into the same bug. I will enable rotation as a workaround now, thanks for the hint.

[2019-03-11 14:41] m1900 commented on #41
See my comment on [issue #34](https://github.com/w8r/Leaflet.Path.Transform/issues/34#issuecomment-452701124) for a temporary fix. I do hope a proper fix will be released soon.

[2019-03-11 16:06] hammad2506 commented on #41
Thanks for responding. If I'm using npm with this, and I don't want to directly modify the source file so others can easily get it working with npm install, how would you suggest me updating the above function? I believe it is not exposed on the transform enabled polyline. Thanks

[2019-03-11 16:07] hammad2506 commented on #34
If I'm using npm with this, and I don't want to directly modify the source file so others can easily get it working with npm install, how would you suggest me updating the above function? I believe it is not exposed on the transform enabled polyline. Thanks @m1900

[2019-03-12 06:47] m1900 commented on #41
The only solution I can think of is creating a fork and publish your own version in npm. I'm facing the same problem, that's the reason why I'm eagerly awaiting a release with a fix for this problem by the author of this package.

[2019-03-12 15:47] hammad2506 commented on #41
Thanks alot @m1900 . Appreciate your help.

[2019-03-19 09:04] Mxde59 commented on #39
Hi @mohammedzamakhan, same issue for me, any news ?

[2019-03-19 09:06] Mxde59 commented on #10
@w8r @joelpanor I face the same issue, any news ?

[2019-03-19 09:15] w8r commented on #39
Can you reproduce on the demo page? I can't
![lpt](https://user-images.githubusercontent.com/26884/54593968-ed7fba00-4a2f-11e9-9fa3-3eebcc5857bd.gif)

Uniform scaling is default behaviour, why do you need to disable it?

[2019-03-19 09:21] w8r commented on #39
Ah, ok, I think I understood what you want.

[2019-03-19 09:30] Mxde59 commented on #39
What a quick response :)

Example below of what i'm looking for :

- Add a random rectangle on the map
- Let the user the possibility to rotate / resize to fit on a particular area of the map.

![Rotate-Resize-Rectangle](https://user-images.githubusercontent.com/48713116/54594974-0ab58800-4a32-11e9-8e3b-f9b7794c3ba8.gif)

[2019-03-19 09:33] w8r commented on #39
I get it. I will work on it as soon as I can (probably end of this week, beginning of the next one) but any help would be appreciated, since I am quite busy

[2019-03-29 12:45] charindaNanayakkara opened #44 "Plugin doesn't give correct rotation value for some cases."
Here I'm considering 360 degree rotation. Rotation values correctly give for until we rotate it up to 4800mils(270 degrees.). But After we the point it suddenly gives incorrect rotation value. Even for the small rotate angle it return something unacceptable value.

[2019-04-02 09:20] Mxde59 commented on #39
Hi @w8r

I know that time is precious, did you succeed to spend some on it ?

Thanks.

[2019-05-13 11:07] muka opened #47 "Circle radius is not scaled"
Hi,
after scaling a circle the radius is not updated (the handlers are resized but the shape stay at the previous size)

I have a proposed fix in PR #46

Thanks

[2019-05-23 08:50] 330595524 opened #49 "What is the method of reloading plug-ins？"
Because sometimes polygons on maps change shape, we need to re-render our transform plug-in.

[2019-06-18 09:10] roman-biqmind opened #51 "How can I get current coordinates of rectangle corners?"
When I try using the events (e.g. `rectangle.on('transform', (e) => { ... } )`), how can I get live coordinates of my rectangle as I scale/rotate it?

When I move, I can access them via `rectangle.getLatLngs()`, but in event of rotate or scale the coordinates remain the same until I start the next zoom/rotate.

I need this in order to properly rotate an imageOverlay linked to the rectangle.

[2019-06-18 09:17] w8r commented on #51
Take a look at what I suggested in #29
You have access to the transformation matrix

[2019-06-18 09:26] roman-biqmind commented on #51
@w8r
I see the `matrix` field on the event, but could you please advise on how to use it? If we have the previous coordinates (`rectangle.getLatLngs()`) and the transformation matrix, we should be able to calculate new values, correct?

[2019-06-21 18:33] mookadoo commented on #39
Was this issue ever resolved?

[2019-06-28 16:39] nickponline opened #52 "How do I use this with shapes from Leaflet Draw?"
I'm wondering how to enable these controls on polygons created from leaflet draw like `L.Polygon`, which seems to be different from `L.polygon`.

[2019-07-08 15:30] Mxde59 commented on #39
Hi @w8r,
Sorry for asking again.
Didn't succeed to find a solution from my side, do you have some times to spend on it pls ?
Thanks a lot.

[2019-07-22 12:02] aczopekkontaktio commented on #28
I have the same issue. Did not check but maybe problem is in _createHandlers function (around 476 line)

`    if (this.options.scaling) {
      this._handlers = [];`

handlers are set to be empty if there is scaling set as true. For rotation I can see push only without settings handlers as an empty array

[2019-07-23 15:13] aczopekkontaktio opened #53 "Different rotation origin"
Hello, I very like your profile. However, I have case when I need to rotate my polygon where pivot is not center of polygon but bottom-left corner. So, I have overriden _getRotationOrigin method. Looks like this

`  _getRotationOrigin: function() {
    return this._rect._latlngs[0][0];
  },
`

For me this is perfect. However, when I am rotating then preview matrix looks perfect. Unfortunately, aft

[2019-07-25 12:14] Falke-Design opened #54 "Add transform if layer exists"
Maybe you could add this in README or create a own function:

`polygon.transform = new L.Handler.PathTransform(polygon, polygon.options.transform);`

[2019-10-17 10:08] Mxde59 commented on #39
Hi @w8r, hi everyone.
Still open, if someone can help ...
Thanks a lot.

[2019-10-27 09:38] davidbrochart opened #56 "Integration with ipyleaflet"
I want to get this plugin into [IPyLeaflet](https://github.com/jupyter-widgets/ipyleaflet). It works well except that when there are several views of a map, the handlers are not properly synced. When a Polygon view gets transformed, all the views receive a `setLatLngs([...])`, and I call `transform.reset()` after that as explained in the documentation.
Here is a binder if you want to see what is g

[2019-11-15 06:21] pedhenrique commented on #51
I see the same problem. Is the intent behaviour to not show the current coordinates on getLatLngs() while rotating or scaling?

[2019-11-20 15:34] artuska commented on #47
Hi, faced the same issue :(

[2019-12-08 16:08] urakovaliaskar opened #57 "L.Util.merge is not a function"
When i try to set rotateHandleOptions it throws L.Util.merge is not a function.
in Util line 50, when i changed it to L.PathTransform.merge, it works fine, i assume it is a bug?

[2019-12-13 15:55] artuska commented on #26
Have the same issue. I have Leaflet.Editable and Leaflet.Transform both on my editable shape — when i drag shape vertex i want to refresh transform dashed box. How can i do this?

`_updateHandlers()` hack does not work.

[2019-12-19 12:21] artuska commented on #34
+1. Issuing the same annoying problem.

@hammad2506 Look at my Leaflet overrides i use to avoid some problems and conflicts between Leaflet plugins:

leaflet.ts:

[code]

[2020-01-03 01:17] teddyward opened #58 "Example CSS references two SVG files that don't exist"
https://github.com/w8r/Leaflet.Path.Transform/blob/e00c3b6a2c64b68fd0fd3aef5ed351488de1f3b3/example/css/topcoat-desktop-light.css#L2352

https://github.com/w8r/Leaflet.Path.Transform/blob/e00c3b6a2c64b68fd0fd3aef5ed351488de1f3b3/example/css/topcoat-desktop-light.css#L3308

What were these supposed to be?

[2020-01-03 09:18] w8r commented on #58
Nah, I forgot them, but they don't matter in the demo

[2020-01-03 09:22] #57 closed

[2020-01-03 17:11] #58 closed

[2020-01-03 17:59] teddyward commented on #58
Sorry, this other PR also needs to be merged (shouldn't have put the "closes" syntax in the first one, I know...)

https://github.com/w8r/Leaflet.Path.Transform/pull/64

[2020-01-10 09:17] Mxde59 commented on #39
Hi @w8r ,
Sorry for asking again, but this feature could help me a lot.
Any help possible ?
Thanks a lot.

[2020-01-23 12:38] vnosikov commented on #35
@alexandervlpl I had the same problem. As I have just found, you can rotate a polygon externally with `polygon.transform.transform(angle);`

Not very explicit, but it works

[2020-02-07 10:59] dariocavada commented on #52
Any news about this point?

Do you have any plan for the **Leaflet.draw adapter**  you have in the TODO list ?

[2020-02-18 15:33] torx85 commented on #53
I ran into the same issue. After some debugging, it seems there are 2 variables set to determine the origin: `_rotationOriginPt` and `_rotationOrigin`. The latter one is set in `_createRotationHandlers()` to the center again. If instead you assign the result of `this._getRotationOrigin()` to this variable, the polygon would stay at the correct position (with some minor deviations).

[2020-02-28 09:11] 330595524 opened #65 "ios13 won't support it"
I am a plug-in user, but there is a compatibility problem at present. I hope the author can help me. I need your help. Compatibility  ios13

[2020-02-28 09:51] w8r commented on #65
What is the problem in iOS 13?

[2020-03-03 06:41] 330595524 commented on #65
The dragging and dragging of points are invalid, and the translation and rotation are also invalid

[2020-03-03 06:42] 330595524 commented on #65
The drag of polygon rectangle is invalid, neither is the translation and rotation

[2020-03-19 01:30] 330595524 commented on #65
https://milevski.co/Leaflet.Path.Transform/example/
This website is a good error display. In IOS 11-ios 12, you can drag and rotate. But in IOS 13, it fails. The hard-working guy helps Kan

[2020-03-19 01:37] 330595524 commented on #65
Just tried. IOS 9.2.1 and IOS 11.3.1 can also drag and rotate, and IOS 12 can't be operated

[2020-03-19 01:52] 330595524 commented on #65
Ios13.2.3 is not operable

[2020-03-19 01:54] 330595524 commented on #65
At present, I am upgrading my mobile device to IOS 13.3.1 and I will give you a feedback

[2020-03-19 02:59] 330595524 commented on #65
Ios13.3.1  is not operable

[2020-03-20 08:16] wethk opened #68 "Path.transform throw error : Cannot read property 'slice' of null"
leaflet.path.tramsform throw error when i created some layers and drag them

![image](https://user-images.githubusercontent.com/12679696/77146455-051bd380-6ac6-11ea-8309-9bd26ad5c515.png)

[2020-03-20 10:25] #47 closed

[2020-05-14 01:17] rodriguesrl opened #70 "Invalid LatLng object: (NaN, NaN) on a Polyline"
Hello, I'm having an issue enabling the transform of a specific polyline, it only happens on that angle and i have no idea what might be causing this.

[code]
This is the stacktrace of the error:
![image](https://user-images.githubusercontent.com/12281356/81881774-08c85580-955f-11ea-9207-85645d6bf57f.png)

Let me know if you need any further info.

[2020-06-04 14:44] nbioret commented on #70
Hello, I think I'm having a similar issue. It occurs when my bounding box is very narrow

`line = [[43.33590744464275, -0.3963140790767437], [43.33593313218462, -0.3956736383198142], [43.335944134296874, -0.39494411645328126]]`

When looking at the code, I think there is a division by 0 in L.PathTransform.pointOnLine function

[2020-06-04 17:20] nchevobbe opened #71 "Rotating a rectangle transform it into a non-rectangle polygon"
Hello there, first of all, thanks for providing such a useful library :)

I think I'm seeing something odd with rotation.
Basically, when a transform is enabled on a rectangle, after rotating it, its diagonals don't have the same distance anymore (which is one of the rule that allow to check that a polygon is a rectangle).

I made a small test app so you can see by yourself: https://leaflet-path-t

[2020-06-09 12:27] Groxot commented on #71
https://github.com/w8r/Leaflet.Path.Transform/issues/39

[2020-06-09 12:48] Groxot commented on #71
worked here.
https://github.com/kevinsamyn/Leaflet.Path.Transform/blob/master/dist/L.Path.Transform-src.js
But in this repo changed only dist file.

[2020-06-09 18:24] nchevobbe commented on #71
Hey @Groxot , thanks a lot!
I tried your version at https://leaflet-path-transform.glitch.me/
It looks a lot better, but the diagonals are still not equal when rotating.

[2020-06-10 09:36] dariocavada opened #72 "Leaflet.draw adapter"
I've seen this in the TODO list.
Are you plan to integrate shortly ?
Any hint to work on that ?

Thank you.

[2020-06-10 09:38] dariocavada commented on #52
Did you find a solution for that ?

[2020-06-10 09:40] dariocavada commented on #22
Any news about this adapter ?

[2020-06-24 14:18] mRamzii commented on #53
As mentionned by @torx85, when replacing the  `_rotationOrigin `also in the `this._getRotationOrigin()` function, it works !

[2020-12-11 03:05] danwild commented on #72
Hi @w8r - I'm interested in contributing to this feature.
I suspect that if this plugin were able extend/integrate with [Leaflet.Draw](https://github.com/Leaflet/Leaflet.draw) it would be very useful to a lot of people
e.g.
- has been [an open request since 2013](https://github.com/Leaflet/Leaflet.draw/issues/120) in their repo
- pilot implementation in @jandm's fork https://github.com/jandm/Leafl

[2020-12-15 02:39] danwild commented on #72
For anyone else - I've made a start on an adapter for Leaflet.draw here: https://github.com/onaci/Leaflet.draw.rotate

[2021-03-11 18:41] JohnieeJuiceboxx opened #77 "L.Icon for handles"
Is there a way to implement custom icons for the rotate/scale handles?

[2021-05-14 11:57] sureshpauhala opened #79 "polygon.transform.enable(); not working in angular"

[2021-05-19 18:50] kbrose commented on #51
I also had to do this. This is what I came up with:

[code]

[2021-10-21 11:39] w8r commented on #35
what do you mean by "absolute"?

[2022-01-10 13:53] bram2000 opened #81 "Still compatible with mapbox.js?"
Is this library still compatible with `mapbox.js` running on the client side? When I try to source `https://cdn.jsdelivr.net/npm/leaflet-path-transform@1.1.3/index.min.js` directly from my html (as is done on the old examples, e.g. https://plnkr.co/edit/52jZIsZ2L9wtyuUsmbJl?p=preview&preview) I get console errors like:

[code]

This suggests it has to be used via node, but I don't think that used

[2022-01-10 14:23] w8r commented on #81
@bram2000 for adding directly in your HTML, please use the build version:
`https://cdn.jsdelivr.net/npm/leaflet-path-transform@1.1.3/dist/L.Path.Transform.js`

[2022-01-10 14:23] #81 closed

[2022-02-10 20:09] cubecleveland opened #86 "Applyting draggble for an already Existing layer"
I was referring to issue #54  where they suggested to reinitiate the object in case the Polyline already existed.
We have a Geojson layer that already have the features drawn and we want to apply the transform on them...

the aboe method works, how can we apply the draggable method on them as well ?

[2022-03-11 15:06] ChinaCappuccino commented on #79
same

[2022-03-11 16:10] w8r commented on #79
I've no idea how are you adding the plugin to your angular app. I don't have enough data to help you

[2022-03-15 11:17] hamelraj89 opened #91 "setLatLngs not working"
I try to update geometry already drawn on the map. but seems no error but it's not updating why?
[code]

[2022-06-15 10:30] GhadaAJIMI commented on #79
@sureshpauhala did you find a solution? I'm facing the same problem here

[2022-06-15 12:11] w8r commented on #79
Can you please create a Codesandbox to demonstrate the problem? https://codesandbox.io/s/angular

[2022-06-19 06:08] ammd1313 opened #92 "leaflet 1.8"
not worked with leaflet v1.8

[2022-06-20 09:08] w8r commented on #92
Working on it

[2022-06-26 04:17] ammd1313 commented on #92
level :2 message :Uncaught TypeError: L.DomEvent.skipped is not a function,lineNumber :258,sourceID:file:///****/L.Path.Transform-src.js

that line is
L.DomEvent.skipped({ type: 'click' });

[2022-06-27 03:48] ammd1313 commented on #92
leaflet removed fakestop and skipped in verion 1.8 @w8r

[2022-06-27 04:57] ammd1313 commented on #92
https://github.com/w8r/Leaflet.Path.Transform/pull/94

[2022-06-27 04:58] ammd1313 commented on #92
https://github.com/w8r/Leaflet.Path.Transform/pull/94

[2022-07-12 11:29] plarner30 commented on #92
@w8r [w8r](https://github.com/w8r) hey do you have any update on when the fix might be available? Many thanks

[2022-07-12 11:48] w8r commented on #92
#94 should've fixed it

[2022-07-12 12:00] plarner30 commented on #92
@w8r sweet thanks, to confirm how will it work in terms of an npm version number? Does that still need tagging?

[2022-07-12 17:20] w8r commented on #92
`leaflet-path-transform@1.8.0-beta.2` should be there within minutes. It works with leaflet@1.8

[2022-07-15 23:26] pd-robin opened #97 "How to set initial values for rotation and scale?"
Hi there, I can't seem to find a way to set initial values for rotation and scaling. Is that possible? Something like:

[code]

That would be super useful to save and load configurations.

Thanks for your help!

[2022-11-03 16:12] adamk05 opened #98 "Is it going to be support for angular?"
Currently it's impossible to use this library in Angular (if I am wrong please tell me how to use it). Are there gonna be support for Angular?

[2022-11-05 10:06] #98 closed

[2022-11-09 09:47] SabineAuer commented on #23
Hey guys, are there any updates on this? I am hacing the same issue

[2022-11-10 04:15] rizypb opened #99 "Can't drag or transform polygon in Vue 3 project"
- Can’t drag or transform polygon in Vue 3 project
- Computer
  - MacOS BigSur 11.6.1
  - Ram 8 GB
- Version
  - vue: 3.2.41
  - leaflet: 1.7.1
  - leaflet-path-transform: 1.1.1

## Code
[code]

## Transform
<img width="995" alt="Screen Shot 2565-11-10 at 10 47 23" src="https://user-images.githubusercontent.com/81729843/200998203-0fb78654-b6af-43dc-b86e-a6179b707d57.png">
<img width="495" alt="Scr